################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
.tools/
.artifacts/
*.private.pem

.wix/
node_modules/
