<configuration><packageSources><clear/><add key="source0" value="https://pkgs.dev.azure.com/corevar/_packaging/CoreVar-Toolkit/nuget/v3/index.json"/><add key="source1" value="https://api.nuget.org/v3/index.json"/></packageSources><packageSourceMapping><packageSource key="source0"><package pattern="CoreVar.*"/></packageSource><packageSource key="source1"><package pattern="*"/></packageSource></packageSourceMapping></configuration>